asgiref
attrs
autobahn
Automat
cffi
channels
click
constantly
cryptography
daphne
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
gunicorn
h11
hyperlink
idna
incremental
packaging
pillow
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dotenv
service-identity
setuptools
sqlparse
Twisted
txaio
typing_extensions
uvicorn
zope.interface
channels-redis
